<main role="main" class="container">
    <div class="row my-5 gap-3">
        <div class="col-md-8">
            {% block content %}{% endblock content %}
        </div>
        <div class="col md-4">
            <div class="content-section">
                <h3 class="display-3 text-center">Our Sidebar</h3>
                <p class="text-muted text-center"> You can add any info You like here.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>